@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 23 125 79;
    /* #177D4F */
    --color-secondary: 138 171 53;
    /* #8AAB35 */
  }

  body {
    @apply font-sans antialiased transition-colors duration-300 bg-zinc-50 text-zinc-900;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 dark:bg-zinc-600 rounded-full;
}